@using Store.Models.DTOs
@model BasketDTO

<span class="bg-lg-down-black width-22 height-22 bg-primary position-absolute d-flex align-items-center justify-content-center rounded-circle left-12 top-8 font-weight-bold font-size-12">@Model.BasketItems?.Sum(a=>a.Quantity)</span>
@if (Model.Total > 0)
{
    <span class="d-none d-xl-block font-weight-bold font-size-16 text-gray-90 ml-3">@Model.Total.ToString("N0")<sup class="">₺</sup></span>
}
