@using Store.Models.DTOs
@using Store.Models.Results
@model IDataResult<List<CategoryDTO>>?

@if (Model is not null)
{
    <!-- Banner -->
    <div class="mb-5">
        <div class="row">
            @{
                int sayac = 0;
            }
            @foreach (var category in Model.Data.Where(a => a.IsActive).Take(4))
            {
                sayac++;
                string image = sayac + ".jpg";
                <div class="col-md-6 mb-4 mb-xl-0 col-xl-3">
                    <a href="../shop/shop.html" class="d-black text-gray-90">
                        <div class="min-height-132 py-1 d-flex bg-gray-1 align-items-center">
                            <div class="col-6 col-xl-5 col-wd-6 pr-0">
                                <img class="img-fluid" src="~/uploads/category/190x150/@image" alt="Image Description">
                            </div>
                            <div class="col-6 col-xl-7 col-wd-6">
                                <div class="mb-2 pb-1 font-size-18 font-weight-light text-ls-n1 text-lh-23">
                                    @category.Name <hr /><strong>@category.ParentCategory?.Name </strong>
                                </div>
                                <div class="link text-gray-90 font-weight-bold font-size-15" href="#">
                                    Göz at
                                    <span class="link__icon ml-1">
                                        <span class="link__icon-inner"><i class="ec ec-arrow-right-categproes"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <!-- End Banner -->
}
