@using Store.Models.DTOs
@using Store.Models.Results
@model IDataResult<List<ParentCategoryDTO>>

@if (Model is not null)
{
    foreach (var parentCategory in Model.Data.Where(a => a.IsActive)) //&& a.Products.Count >= 7
    {
        if (parentCategory.Categories.Where(a => a.Products.Count > 0).Count() > 0)
        {
            <div class="mb-6">
                <div class=" d-flex justify-content-between border-bottom border-color-1 flex-lg-nowrap flex-wrap border-sm-top-0 border-sm-bottom-0">
                    <h3 class="section-title mb-2 mb-md-0 pb-2 font-size-22">@parentCategory.Name</h3>
                    <a class="d-block text-gray-16" href="../shop/shop.html">Go to Daily Deals Section <i class="ec ec-arrow-right-categproes"></i></a>
                </div>
                <div class="js-slick-carousel u-slick overflow-hidden u-slick-overflow-visble pt-3 px-1"
                     data-pagi-classes="text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-4"
                     data-slides-show="7"
                     data-slides-scroll="1"
                     data-responsive='[{
              "breakpoint": 1500,
              "settings": {
                "slidesToShow": 6
              }
            }, {
                "breakpoint": 1200,
                "settings": {
                  "slidesToShow": 3
                }
            }, {
              "breakpoint": 992,
              "settings": {
                "slidesToShow": 3
              }
            }, {
              "breakpoint": 768,
              "settings": {
                "slidesToShow": 2
              }
            }, {
              "breakpoint": 554,
              "settings": {
                "slidesToShow": 2
              }
            }]'>
                    @foreach (var category in parentCategory.Categories)
                    {
                        for (int i = 0; i < 3; i++)
                        {
                            foreach (var product in category.Products)
                            {
                                <div class="js-slide products-group">
                                    <div class="product-item">
                                        <div class="product-item__outer h-100">
                                            <div class="product-item__inner px-wd-4 p-2 p-md-3">
                                                <div class="product-item__body pb-xl-2">
                                                    <div class="mb-2"><a href="~/category/show/@category.Id" class="font-size-12 text-gray-5">@category.Name</a></div>
                                                    <h5 class="mb-1 product-item__title"><a href="~/product/show/@product.Id" class="text-blue font-weight-bold">@product.Name</a></h5>
                                                    <div class="mb-2">
                                                        @if (product.ProductPhotos.FirstOrDefault() is not null)
                                                        {
                                                            <a href="~/product/show/@product.Id" class="d-block text-center"><img class="img-fluid" src="~/uploads/products/212X200/@product.ProductPhotos.FirstOrDefault().Url" alt="Image Description"></a>

                                                        }
                                                    </div>
                                                    <div class="flex-center-between mb-1 position-relative">
                                                        <div class="position-absolute font-size-12 font-weight-bold left-0 top-0 bg-green rounded text-white text-lh-21 px-2 mt-n4">
                                                            -72%
                                                        </div>
                                                        <div class="prodcut-price">
                                                            <div class="text-gray-100">$685,00</div>
                                                        </div>
                                                        <div class="d-none d-xl-block prodcut-add-cart">
                                                            <a href="../shop/single-product-fullwidth.html" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-item__footer">
                                                    <div class="border-top pt-2 flex-center-between flex-wrap">
                                                        <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                                                        <a href="../shop/wishlist.html" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    }


                </div>
            </div>
        }

    }
}