@using Store.Models.DTOs
@using Store.Models.Results
@{
    IDataResult<List<ProductDTO>>? homePageProducts = ViewBag.HomePageProducts as IDataResult<List<ProductDTO>>;


    IDataResult<List<CategoryDTO>>? categoriesWithProducts = ViewBag.CategoriesWithProducts as IDataResult<List<CategoryDTO>>;
    IDataResult<List<ParentCategoryDTO>>? parentCategoriesWithProducts = ViewBag.parentCategoriesWithProducts as IDataResult<List<ParentCategoryDTO>>;

    IDataResult<List<SliderDTO>>? slider = ViewBag.Slider as IDataResult<List<SliderDTO>>;

}
@{
    ViewData["Title"] = "Anasayfa";
}
<!-- Slider Section -->
<partial name="~/Views/Home/_SliderPartial.cshtml" model="@slider" />
<!-- End Slider Section -->
@* <!-- Categories Carousel -->
<partial name="~/Views/Home/_CategoryCarouselPartial.cshtml" />
<!-- End Categories Carousel --> *@


<div class="container">

    @Html.Partial("~/Views/Home/_CategoryBannerAPartial.cshtml", categoriesWithProducts)
    <partial name="~/Views/Shared/_FeaturedProductsShowerPartial.cshtml" model="@homePageProducts?.Data.Where(a=>a.IsFeatured)" />
    <partial name="~/Views/Shared/_NewProductsShowerPartial.cshtml" model="@homePageProducts?.Data.Where(a=>a.IsNew)" />
    @Html.Partial("~/Views/Home/_ProductsSpacialOfferPartial.cshtml", categoriesWithProducts)
    <partial name="~/Views/Shared/_DiscountedProductsShowerPartial.cshtml" model="@homePageProducts?.Data.Where(a=>a.IsDiscounted)" />
    <partial name="~/Views/Shared/_MostSelledProductsShowerPartial.cshtml" model="@homePageProducts?.Data.Where(a=>a.IsMostSelled)" />
    @Html.Partial("~/Views/Home/_ProductsShowerByParentCategoriesPartial.cshtml", parentCategoriesWithProducts)
</div>