<div class="d-none d-xl-block col-xl-3 col-wd-2gdot5">
    <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">

        <!-- List -->
        <ul id="sidebarNav" class="list-unstyled mb-0 sidebar-navbar">
            <li>
                <a class="dropdown-current active" href="~/account">Hesabım</a>
                <ul class="list-unstyled dropdown-list">
                    <li><a class="dropdown-item" href="~/account/order">Siparişlerim</a></li>
                    <li><a class="dropdown-item" href="~/account/info">Bilgilerim</a></li>
                    <li><a class="dropdown-item" href="~/account/address">Adreslerim</a></li>
                </ul>
            </li>
        </ul>
        <!-- End List -->
    </div>
</div>