@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="col d-none d-xl-block"><a href="../shop/wishlist.html" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="Favorites"><i class="font-size-22 ec ec-favorites"></i></a></li>

    <li class="list-inline-item mr-0 u-header-topbar__nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn px-3 btn-dark py-1 rounded-lg ">Çıkış</button>
        </form>
        <!-- End Account Sidebar Toggle Button -->
    </li>
}
else
{
    <li class="nav-item u-header__nav-item  pr-xl-0 px-2 px-sm-3 d-none d-xl-block">
        <a href="~/identity/account/login" role="button" class="btn px-3 btn-dark py-1 rounded-lg">Giriş Yap</a>

    </li>
    <li class="nav-item u-header__nav-item  pr-xl-0 px-2 px-sm-3 d-none d-xl-block">
        <a href="~/identity/account/register" role="button" class="btn px-3 btn-primary-dark-w py-1 rounded-lg ">
            Üye Ol
        </a>
    </li>

}